@charset "utf8";


 @font-face{
    font-family: 'android';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
    }
    :root{
        --cor01:#E6E6E6;
        --cor02:#B3B3B3;
        --cor03:#34352c;
        --cor04:#000000;
        
        --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
        --fonte-destaque:'Bebas Neue', 'Cursive';
        --fonte-android:'android', 'cursive';
    }
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background-image: url('imagens/skyrim-pq.png');
        background-color:var(--cor03) ;
        font-family: var(--fonte-padrao);
    }
    header{
        background-image: linear-gradient(to bottom, var(--cor03), var(--cor02));
        text-align: center;
        padding: 40px;
    }
    header > h1{
        font-family: var(--fonte-android);
        font-weight: normal;
        font-size: 2.5em;
        padding: 10px;
       
    }
    header > p{
        font-family: var(--fonte-padrao);
        font-size: 1em;
        padding: 10px;
    }
    nav{
        background-color: var(--cor02);
        padding: 10px;
    }
    nav a{
        color: white;
        font-family: var(--fonte-padrao);
        font-size: 19px;
        padding: 10px;
        text-decoration: none;
    }
    nav a:hover{
        text-shadow:1px 1px 1px #34352c;
        background-color: var(--cor03);
        border-radius: 10px;
        margin: 10px;
        padding: 6px;
    }
    main{
        min-width: 300px;
        max-width: 1000px;
        background-color: white;
        margin: auto;
        padding: 10px;
        margin-bottom: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    main img.pq{
        max-width: 350px;
        margin: auto;
        display: block;
    }
    main img.g{
        margin: auto;
        display: block;
        padding: 10px;
        position: center;
    }
    main h1{
        font-family: var(--fonte-android);
        font-size: 1.5em;
        font-weight: normal;
        padding: 10px;
        
    }
    main h2{
        font-family: var(--fonte-android);
        font-size: 1.5em;
        /*font-weight: ;*/
        padding: 10px;
    }
    main p{
        font-family: var(--fonte-padrao);
        font-size: 17px;
        text-align: justify;
        padding: 10px;
    }


    aside {
        background-color: white;

    }
    aside a{
        color: #000000;
        text-decoration: none;
    }
    aside a:hover{
        text-decoration: underline;
        background-color:var(--cor02);

    }
    aside ul{
        list-style-position: inside;
    }
    footer{
        background-color: white;
        text-align: center;
    }
    

    
    